<ul>
    <!-- Facebook Icon -->
    <li>
        <a href="https://www.facebook.com/people/Tanner-Beane-and-Dirty-Power/61583965162846/#"
           title="Follow us on Facebook" 
           target="_blank" 
           rel="noopener">
            <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <!-- Instagram Icon -->
    <li>
        <a href="https://www.instagram.com/" 
           title="Follow us on Instagram" 
           target="_blank" 
           rel="noopener">
            <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <!-- YouTube Icon -->
    <li>
        <a href="https://www.youtube.com/channel/UCY8cp5I03jipSnVG8E6oVgg" 
        title="Follow us on YouTube" 
        target="_blank" 
        rel="noopener">
            <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>

</ul>

